.header{
  background-image: url("../ip2/assets/backgrounds/landing.jpg");
  height: 636px;
  width: 100%;
}
.menu{
  display: block;
  margin: auto;
  height: 286px;
  width: 20%;
}
.bestfood{
  text-align: center;
  padding-bottom: 60px;
  color: white;
}
.hour{
  float: left;
  width: 100px;
  height:100px;
}
.happy{
  background-color: white;
  width: 350px;
  height: 85px;
  color: grey;
  text-align: center;
}
.party{
  background-color: orange;
  width: 350px;
  height: 85px;
  color: grey;
  text-align: center;
}
.breakfast{
  background-image: url("../ip2/assets/foodtop/breakfast.jpg");
  width: 350px;
  height: 210px;
  margin-left: 400px;
  text-align: center;
  font-size: 20px;
  color: grey;
}
